html, body {
    height: 100%;
    min-height: 100%;
}

footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    height: 2.5rem; 
    margin-top: 40px;           
}

/*For Navigation panel*/
.mynav {
    background-color: transparent !important;
}
.navbar .navbar-brand {
    color: #fff;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav {
    margin: 0 auto;
}

/*For Loginpage*/
.bg {
    background: url("image/girl.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}
@media only screen and (max-width: 678px) {
    .bg {
        background-size: 300%;
    }
}
.log {
    max-width: 400px;
    vertical-align: middle;
    margin-top: 120px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000; 
}
.lg {
    color: #000;
    margin-left: 150px;
}
/*For Slideshow*/
.carousel-item {
    height: 450px;
    overflow: hidden;
    width: 100%;
}
.carousel-inner > .carousel-item > img{
    margin:auto;
    }
/*For Profile*/
.bk {
    background: url("image/white.jpg") no-repeat;
    width: 100%;
    background-size: 100%;
}
.profile {
    margin-right: 40px;
}
/*For Contact*/
.contact-form {
    background: rgba(0, 0, 0, .6);
    color: #fff;
    margin-top: 90px;
    padding: 20px;
    box-shadow: 0px 0px 0px 10px 3px grey;
}
hr {
    background: #fff;
}
.bt {
    background: url("image/bk.jpg") no-repeat;
    width: 100%;
    background-size: 100%;
}
@media only screen and (max-width: 678px) {
    .bt {
        background-size: 300%;
    }
}
/*For News*/
.left-side {
    margin-right: 40px;
}
.container {
    margin-top: 10px;
}
.t {
    color: #fff;
}

/*background for pages*/
.bg {
    background: url("image/bg.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}
@media only screen and (max-width: 678px) {
    .bg {
        background-size: 300%;
    }
}